/* styles.css */

/* Add styles here to customize the appearance of your app */

:root {
    background-color:steelblue;
}
html:root {
    height: 100%;
    background-color:steelblue;
}
body {
    color: #000000;
    background-color:steelblue!important;
    height: auto;
    text-align: center;
    align-self: center;
    overflow: hidden;
    margin: 0;
    height: 100%;
}

header {
    color: steelblue;
    width: 100vw;
    height: 10%;
    background-color: #ffffff;
    text-align: center;
    margin:inherit;
    /* margin-bottom: 1rem; */
    position: fixed;
    top: 0;
    padding-top: 1rem;
}
footer {
    display: flex;
    margin-top: 1rem;
    height: 10%;
    position: fixed;
    bottom: 2.5rem;
    padding: 1rem;
    width: 90%;
}

h1 {
    color:steelblue;
    text-align: center;
    line-height: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h2,
h3,
h4,
h5,
h6 {
    color: #FF0045;
    text-align: center;
    align-self: center;
}
div.container {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    margin: 1rem;
}
div.chat-area {
    display: flex;
    background-color: #4f4f4f;
    justify-content: space-evenly;
    border:solid;
    border-radius: 15px;
    border-width: 2px;
    border-color: #FFFFFF30;
    position: fixed;
    top: 10%;
    bottom: 12.5%;
    width: 90%;
    float: right;
    place-items: center;
    margin: 0.5rem;
    padding: 0.5rem;
    left: 7rem;
}
div#app {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    align-self: start;
}
div.row {
    display: flex;
    flex-direction: row;
    width: 100vw;
    background-color: #4f4f4f;
    height: fit-content;
}
img {
    position: relative;
    right: 0.75rem;
}

a {
    color: #000;
}

div.column{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    height: 100vh;
    padding: 0.10rem;
    align-items: center;
    float: right;
}
div.d-flex.flex-column.flex-shrink-0.bg-light {
    width: 90%;
    margin-top:-4rem;
    position: relative;
}
a.nav-link.active.py-3.border-bottom {
    position: relative;
    z-index: 1;
}
div.sidebar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 10%;
    height: auto;
    padding: 0.10rem;
    align-items: center;
    float: left;
    left: 0;
    place-items: baseline;
    background-color: #0000004c;
}
hr.dropdown-divider {
    height:auto;
}
.nav {
    height: 100vh;
    display: initial;
}
.py-3 {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}
.nav-link {
    display: initial;
}
img#RAPP {
    top: 0;
    left: 0;
}
ul#messages {
    display: contents;
    width: fit-content;
    height: auto;
    position: fixed;
}
.d-flex.flex-column.flex-shrink-0.bg-light {
    z-index: 1;
}
a#RAP {
    width: 100%;
    height: 10%;
    margin-bottom: 1rem;
}
form{
    display: flex;
    flex-direction: column;
    width: inherit;
    height: auto;
    float:right;
    position: fixed;
    right: 0;
}
input {
    width: 100%;
    height: auto;
}
button {
    width: 10%;
    height: auto;
    display: block;
}
li {
    display: inline-table;
    box-sizing: content-box;
    padding-bottom: 0.5rem;
}
.btn-primary {
    width: 70%;
    height: 50%;
    display:block;
}
input[type="file"] {
    width: 30%;
    height: auto;
    display: block;
}
.input-group {
    background-color: steelblue;
}
span.input-group-text {
    color: #FFF;
    background-color: #157347;
    border-color: #146c43;
}
label.input-group-text {
    color: #FFF;
    background-color: #157347;
    border-color: #146c43;
}


#APIKEY,
[for="APIKEY"],
.modal-dialog-centered#modal {
    display: none;
    color: #FFF;
    background-color: #ec160085;
    place-self: center;
    position: absolute;
    z-index: 1;
    float: center;
    width: 25vw;
    min-height: auto;
    height: 20vh;
    border: solid;
    padding: 1rem;
    margin: 1rem;
}


.close {
    color: #FFF;
    float: right;
    font-size:1rem;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: #000;
    text-decoration:none;
    cursor: pointer;
}

div.Message#userClient {
    display: flex;
    align-self: self-start;
    position: fixed;
    width: 100%;
}
div.Message#Matthew {
    display: flex;
    align-self: self-end;
    position: fixed;
    width: 100%;
}
div.ChatBubble#OpenAI {
    display: block;
    padding: 8px;
    margin: 8px;
    border: #000;
    border-style: solid;
    color: #000;
    background-color: #FFF;
}
div.ChatBubble#userClient {
    display: block;
    padding: 8px;
    margin: 8px;
    border: #000;
    border-style: solid;
    color: #000;
    background-color: coral;
}
div.message {
    display: contents;
    text-align: left;
}
input#APIKEY {
    width: 100%;
    height: auto;
    display: none;
}
button[for="APIKEY"] {
    width: 25%;
    height: auto;
    display: none;
}
